.caption {
  width: 27.8%;
  left: 71.5%;
  top: 70%;
}

.carousel-inner {
  .btn-group {
    width: 27.8%;
  }
}
.s-auto {left: auto;}
.bottom {bottom: $spacer * 4;}

// Media queries for the banner section

@media (min-width: 768px) and (max-width: 1324px) {
  .banner-section {
    .caption {
      h6 {
        font-size: 1rem  !important; 
        margin-bottom: 4px !important; 
        margin-top: 2px;
      }

      p {
        font-size: 1rem  !important;
        margin: 0 !important;
      }
    }
  }
}


